
 
  <div class="contener-center w-5/6 ml-40 mt-16">
    <div class="text-center"><h1>HISTORIQUE DES DONNÉES</h1></div> 


   

<div class="relative overflow-x-auto shadow-md sm:rounded-lg ml-64">
   <!-- -------------------Recherche---------------- -->
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
 <div></div>
 
  <div class="flex md:order-2">
    
    <div class="relative hidden md:block">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        <span class="sr-only " id="inputGroupPrepend2">Search icon</span>
      
  </div>
  <input (change)="search($event)" type="date" id="cal" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
   
</div>
    
  </div>
  
  </div>
</nav>

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 w-5/6">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Date</th>
          <th scope="col" class="px-6 py-3">Température Am °C</th>
          <th scope="col" scope="col" class="px-6 py-3">Humidité Ambiante %</th>
          <th scope="col" scope="col" class="px-6 py-3">Humidité Sol %</th>
          <th scope="col" scope="col" class="px-6 py-3">Luminosité Lux</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let historique of histo
              | paginate
                : { itemsPerPage, currentPage: page, totalItems: totalLenght }
              | filter : filterTerm
          "
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <td class="px-6 py-4">{{ historique.Date }}</td>
          <td class="px-6 py-4">{{ historique.Temperature }}</td>
          <td class="px-6 py-4">{{ historique.HumidityA }}</td>
          <td class="px-6 py-4">{{ historique.HumidityS }}</td>
          <td class="px-6 py-4">{{ historique.Luminosite }}</td>
        </tr>
      </tbody>
    </table>
    <div class="mt-8 py-5 text-center">
      <div class="pagination fixed-bottom justify-content-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!--  -->
